*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    min-height: 100vh;
    background: url("project2.jpg");
    background-size: cover;
    background-position: center;
    
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background:transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.logo{
    font-size: 33px;
    color:brown;
    text-decoration: none;
    font-weight: 600;

}

.navbar a{
    position: relative;
    color:brown;
    text-decoration: none;
    font-weight: 400;
    margin-left: 40px;
    font-size: 18px;
    text-shadow: 0 0 2px rgba(165,42,42,0.2);
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    right: 25;
    left: 25;
    width: 0;
    height: 2px;
    background-color: brown;
    transition: 1s;

}

.navbar a:hover::before{
    width: 100%;

}